<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Hóa đơn</title>


  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <!-- Template Main CSS File -->
  <link href="../../../css/styleInvoice.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>

<body class="bg-light">

  <body data-new-gr-c-s-check-loaded="14.995.0" data-gr-ext-installed="">

      <div class="text-center mt-4 mb-2">
        <p class="text-1"><strong>NOTE :</strong> Đây là hóa đơn được tạo trên hệ thống và không cần chữ ký tay.</p>
        <div class="btn-group btn-group-sm d-print-none">  <button id="download-invoice" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Tải về</button> </div>
      </div>
    <!-- Container -->
    <div id="invoice" class="container-fluid Billig-container shadow-sm">
      <!-- Header -->
      <header>
        <div class="row align-items-center">
          <div class="col-7 text-start mb-3 mb-sm-0">
          <h1>Evérest</h1>
          </div>
          <div class="col-5 text-end">
            <h4 class="mb-0 text-uppercase">Hóa đơn</h4>

          </div>
        </div>
        <hr>
      </header>
      <!-- Main Content -->
      <main>
        <div class="row">
          <%
          //Định dạng lại ngày tháng năm từ hệ thống và xuất ra ngoài
          const createdAt = new Date(order.createdAt).toLocaleString("en-GB", {day: "2-digit",month: "2-digit",year: "numeric",hour: "2-digit",minute: "2-digit"});%>
          <div class="col-6"><strong>Ngày:</strong> <%= createdAt%></div>
          <div class="col-6 text-end"> <strong>Hóa đơn mã:</strong> <%= order.orderID%></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6 text-end order-sm-1">
            <strong>Trả cho:</strong>
            <address>
              Everest Tech<br>
              Phước Tỉnh, Long Điền, Bà Rịa Vũng Tàu<br>
              Việt Nam
            </address>
          </div>
          <div class="col-6 order-sm-0">
            <strong>Được lập hóa đơn cho:</strong>
            <address>
              <%= (order && order.billingAddress && order.billingAddress.fullName) || '' %><br>
              <%= (order && order.billingAddress && order.billingAddress.address) || null %>, <%= (order && order.billingAddress && order.billingAddress.district) || '' %><br>
              <%= (order && order.billingAddress && order.billingAddress.city) || '' %>, <%= (order && order.billingAddress && order.billingAddress.country) || '' %>
            </address>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>

                    <td class="col-4 border-0"><strong>Nội dung</strong></td>
                    <td class="col-2 border-0"><strong>Giá </strong></td>
                    <td class="col-1 border-0 text-end"><strong>Số lượng</strong></td>
                    <td class="col-2 text-end border-0"><strong>Tổng</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <% order.items.forEach(o => { %>
                  <tr>
                    <% const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(o.price); %>
                    <% const formattedPriceAll = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(o.priceAll); %>

                    <td class="col-5 text-1"><span><%= o.product%></span><br><span>Màu <%= o.color%> - <%= o.ram%> GB - <%= o.storage%> GB</span></td>

                    <td class="col-2"><%=formattedPrice%></td>
                    <td class="col-1 text-end"><%= o.quantity%></td>
                    <td class="col-2 text-end"><%=formattedPriceAll%></td>
                  </tr>
                  <%})%>
                  <% const formattedPriceAll = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.priceAll); %>
                  <tr>
                    <td colspan="4" class="bg-light-2 text-end"><strong>Tạm tính:</strong></td>
                    <td class="bg-light-2 text-end"><%= formattedPriceAll%></td>
                  </tr>
                  <tr>
                    <td colspan="4" class="bg-light-2 text-end"><strong>Thuế:</strong></td>
                    <td class="bg-light-2 text-end">Miễn VAT</td>
                  </tr>
                   <tr>
                    <td colspan="4" class="bg-light-2 text-end"><strong>Giảm giá:</strong></td>
                    <td class="bg-light-2 text-end"><%= order.discountPrice%> đ</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="bg-light-2 text-end"><strong>Phí vận chuyển:</strong></td>
                    <td class="bg-light-2 text-end"><%= order.deliveryPrice%> đ</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="bg-light-2 text-end border-0"><strong>Tổng:</strong></td>
                    <td class="bg-light-2 text-end border-0"><%= formattedPriceAll%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
   
    </div>

  </body>


<script>
  document.getElementById('download-invoice').addEventListener('click', function () {
    var element = document.getElementById('invoice'); // Select the specific part of your HTML

    html2canvas(element).then(canvas => {
      const imgData = canvas.toDataURL('image/png');
      const pdf = new jspdf.jsPDF({
        orientation: 'landscape', // or 'landscape'
        unit: 'px', // 'mm', 'cm', 'in'
        format: [canvas.width, canvas.height] // Set format based on canvas size
      });
      pdf.addImage(imgData, 'PNG', 0, 0, canvas.width, canvas.height);
      pdf.save('invoice.pdf');
    });
  });
</script>



</body>

</html>