<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evérest - Đặt xu hướng cho thế giới công nghệ di động tiên tiến.</title>
  <meta name="description" content="Mua điện thoại thông minh chất lượng cao và giá cả hợp lý tại Evérest. Duyệt qua các mẫu điện thoại mới nhất và khám phá các ưu đãi hấp dẫn ngay hôm nay.">


  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

  <!-- all css -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jquery-ui.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/line-awesome.css">
  <link rel="stylesheet" href="../css/nice-select.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>

  <%- include('partials/navibar.ejs') %>

  <!-- Các banner sản phẩm chính -->
  <div class="banner_slider">
    <div class="hero_area" style="background-image: url('../images/samsungbanner.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero_content">
              <h4 class="text-light">Điện thoại trang bị công nghệ AI - Trí tuệ nhân tạo</h4>
              <h1 class="text-light">Samsung galaxy S24 Ultra 5G </h1>
              <p class="text-light">Khám phá sức mạnh của trí tuệ nhân tạo! Trải nghiệm thông minh và tiện ích đỉnh cao. Đặt hàng ngay hôm nay</p>
              <div class="hero_btn">
                <a class="default_btn small rounded" href="/products/<%=s24%>">Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero_area bg_2" style="background-image: url('../images/iphonebanner.jpg')">
      <div class="container" style="max-width:900px">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero_content">
              <div class="hero_btn">
                <a class="default_btn rounded" href="/products/<%=ip15%>">Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero_area bg_2" style="background-image: url('../images/xiaomibanner.jpg')">
      <div class="container" style="max-width: 900px;">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero_content">
              <h4>Sức Mạnh và Tiện Ích Tối Ưu</h4>
              <h1>Xiaomi 14 Ultra 5G</h1>
              <p>Một bước tiến mới với Xiaomi 14 Ultra - hiệu suất mạnh mẽ và tính năng tiên tiến. Khám phá công nghệ hàng đầu trong tầm giá. Sẵn sàng để đổi mới cuộc sống của bạn!</p>
              <div class="hero_btn">
                <a class="default_btn rounded" style="margin-top:100px" href="/products/<%=ultra14%>">Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- các ưu đãi -->
  <section class="features_area  section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row justify-content-center gx-2 gx-md-4">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <div class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <div class="feature_icon">
                  <img loading="lazy" src="../images/svg/delivery-van.svg" alt="icon">

                </div>
                <div class="feature_content">
                  <h4>Miễn phí vận chuyển</h4>
                  <p>Cho đơn từ 1 triệu</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
              <div class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <div class="feature_icon">
                  <img loading="lazy" src="../images/svg/money-back.svg" alt="icon">
                </div>
                <div class="feature_content">
                  <h4>Hoàn trả</h4>
                  <p>Trong vòng 30 ngày</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <div class="feature_icon">
                  <img loading="lazy" src="../images/svg/service-hours.svg" alt="icon">
                </div>
                <div class="feature_content">
                  <h4>Hỗ trợ 24/7</h4>
                  <p>Hỗ trợ khách hàng</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- danh sách top sản phẩm  từng thương hiêu-->
  <section class="top_ranking section_padding_b">
    <div class="container">
      <h2 class="section_title_2 mb-0">Sản phẩm bán chạy</h2>
      <div class="row">
        <!--samsung-->
        <div class="col-xl-3 col-lg-4 col-6">
          <h4 class="single_topr_title">Samsung</h4>

          <%
              //Lọc toàn bộ sản phẩm có thương hiệu là samsung, lọc theo sản phâm mua nhiều nhất
          
            let counterS = 1; 
              samsung.forEach(product => { %>
          <div class="single_top_ranking">
            <div class="topr_img">
              <a href="/products/<%=product._id%>">
                <img loading="lazy" src='../data/product-images/<%=product.image%>' alt="product">
              </a>
              <span class="tag"><%= counterS %></span> <!-- Use the counter variable here -->
            </div>
            <div class="topr_content">
              <a href="/products/<%=product._id%>">
                <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
              </a>
              <div class="price">
                <span class="org_price"><% 
          const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
                  <%= formattedPrice %>
                </span>
                <% if (product.discount) {%>
                <span style="color: #eb5757;
                background: #fff0e9;
                border-radius: 4px;
                  padding: 1px 2px 2px 2px;
                   margin-left: 7px;
                  font-size: 14px;"> -
                  <%= product.discount%>%</span>
                <%}%>
      </div>
    </div>
  </div>
  <% counterS++; 
}) %>
              </div>

              <!--Iphone-->
              <div class="col-xl-3 col-lg-4 col-6">
                <h4 class="single_topr_title">iPhone</h4>
                <%
                 //Lọc toàn bộ sản phẩm có thương hiệu là iphone, lọc theo sản phâm mua nhiều nhất
                
            let counterI = 1; 
                iphone.forEach(product => { %>
               <div class="single_top_ranking">
                  <div class="topr_img">
                    <a href="/products/<%=product._id%>">
                      <img loading="lazy" src='../data/product-images/<%=product.image%>' alt="product">
                    </a>
                    <span class="tag"><%= counterI %></span>
                  </div>
                  <div class="topr_content">
                    <a href="/products/<%=product._id%>">
                      <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
                    </a>
                    <div class="price">
                      <span class="org_price"><% 
const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
                        <%= formattedPrice
  %></span>
                      <% if (product.discount) {%>
                      <span style="color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;"> -
                        <%= product.discount%>%</span>
                      <%}%>
              </div>
              
            </div>
          </div>
            <% counterI++; 
}) %>
                    </div>
                    <!--Xiaomi-->
                    <div class="col-xl-3 col-lg-4 col-6">
                      <h4 class="single_topr_title">Xiaomi</h4>
                      <%
                        //Lọc toàn bộ sản phẩm có thương hiệu là xiaomi, lọc theo sản phâm mua nhiều nhất
                      
            let counterX = 1; 
                      
                      xiaomi.forEach(product => { %>
                    <div class="single_top_ranking">
                        <div class="topr_img">
                          <a href="/products/<%=product._id%>">
                            <img loading="lazy" src='../data/product-images/<%=product.image%>' alt="product">
                          </a>
                          <span class="tag"><%= counterX %></span>
                        </div>
                        <div class="topr_content">
                          <a href="/products/<%=product._id%>">
                            <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
                          </a>
                          <div class="price">
                            <span class="org_price"><% 
const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
                              <%= formattedPrice
  %></span>
                            <% if (product.discount) {%>
                            <span style="color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;"> -
                              <%= product.discount%>%</span>
                            <%}%>
              </div>
          
            </div>
            </div>
                      <% counterX++; 
}) %>
                          </div>
                          <!--Vivo-->

                          <div class="col-xl-3 col-lg-4 col-6 d-lg-none d-block d-xl-block">
                            <h4 class="single_topr_title">Vivo</h4>
                            <%
                              //Lọc toàn bộ sản phẩm có thương hiệu là vivo, lọc theo sản phâm mua nhiều nhất
                            
            let counterV = 1; 
                           vivo.forEach(product => { %>
                         <div class="single_top_ranking">
                              <div class="topr_img">
                                <a href="/products/<%=product._id%>">
                                  <img loading="lazy" src='../data/product-images/<%=product.image%>' alt="product">
                                </a>
                                <span class="tag"><%= counterV %></span>
                              </div>
                              <div class="topr_content">
                                <a href="/products/<%=product._id%>">
                                  <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
                                </a>
                                <div class="price">
                                  <span class="org_price"><% 
const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
                                    <%= formattedPrice
  %></span>
                                  <% if (product.discount) {%>
                                  <span style="color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;"> -
                                    <%= product.discount%>%</span>
                                  <%}%>
              </div>
             
            </div>
          </div>
                                <% counterV++; 
}) %>
                                </div>
  </section>

  <!-- new arrive -->
  <section class="new_arrive section_padding_b">
    <div class="container">
      <div class="d-flex align-items-start justify-content-between">
        <h2 class="section_title_2">Mới ra mắt</h2>
        <div class="seemore_2 pt-2">
          <a href="/products">Xem thêm <span><i class="las la-angle-right"></i></span></a>
        </div>
      </div>
      <div class="row gy-4">

        <% newestProducts.forEach(product => { 
          //Lọc các sản phẩm mới ra mắt với số lượng là 4
          %>
    
        <div class="col-lg-3 col-sm-6">
          <div class="single_new_arrive">
            <div class="sna_img">


              <img loading="lazy" class="prd_img" src='../data/product-images/<%=product.image%>' alt="product">
              <%if (product.isHot){%>
              <span class="tag">Hot</span>
              <%}%>
                    <div class="prodcut_hovcont">
                      <a href="/products/<%= product._id %>" class="icon open_quickview" tabindex="0">
              <i class="icon-search-left"></i>
              </a>
            </div>
          </div>
          <div class="sna_content">
            <a href="/products/<%= product._id %>">
              <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
            </a>

            <div class="ratprice">
              <%if (product.isSpecs) {%>
              <p class="mb-1" style="color: #666;font-size: 14px">Nhiều lựa chọn cấu hình</p>
              <%}%>
                    <div class="price">
                      <strong style="color: #d0021c;
    font-size: 18px;">
                        <% 
const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
              <%= formattedPrice
  %>
              </strong>
              <% if (product.discount) {%>
              <span style="color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;"> -
                <%= product.discount%>%</span>
              <%}%>
                      </div>
                    </div>
                    <div class="product_adcart">
                      <a href="/products/<%= product._id %>" class="btn btn-danger text-white rounded" style="width:150px">Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>


    </div>
    </div>
  </section>

  <!-- ad banner -->
  <div class="ad_banner_area section_padding_b">
    <div class="container">
      <a href="/products/<%=i14%>">

        <picture>
          <source media="(min-width: 768px)" srcset="../images/iphoneads.jpg">
          <img loading="lazy" class="w-100" src="../images/iphoneads.jpg" alt="ad">
        </picture>
      </a>
    </div>
  </div>

  <!-- recomended -->
  <section class="new_arrive section_padding_b">
    <div class="container">
      <div class="d-flex align-items-start justify-content-between">
        <h2 class="section_title_2">Đề xuất cho bạn</h2>
        <div class="seemore_2 pt-2">
          <a href="/products">Xem thêm <span><i class="las la-angle-right"></i></span></a>
        </div>
      </div>
      <div class="row gy-4">
        <% randomProducts.forEach(product => { 
          //Hiển thị ngẫu nhiên các sản phẩm trên hệ thống
          %>
    
        <div class="col-lg-3 col-sm-6">
          <div class="single_new_arrive">
            <div class="sna_img">
              <img loading="lazy" class="prd_img" src='../data/product-images/<%=product.image%>' alt="product">
              <%if (product.isHot){%>
              <span class="tag">Hot</span>
              <%}%>
                    <div class="prodcut_hovcont">
                      <a href="/products/<%= product._id %>" class="icon open_quickview" tabindex="0">
              <i class="icon-search-left"></i>
              </a>
            </div>
          </div>
          <div class="sna_content">
            <a href="/products/<%= product._id %>">
              <h4><%= product.name%> <%= product.minPriceWithRam%>GB/<%= product.minPriceWithStorage%>GB</h4>
            </a>

            <div class="ratprice">
              <%if (product.isSpecs) {%>
              <p class="mb-1" style="color: #666;font-size: 14px">Nhiều lựa chọn cấu hình</p>
              <%}%>
                    <div class="price">
                      <strong style="color: #d0021c;
    font-size: 18px;">
                        <% 
const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.minPrice); %>
              <%= formattedPrice
  %>
              </strong>
              <% if (product.discount) {%>
              <span style="color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;"> -
                <%= product.discount%>%</span>
              <%}%>
                      </div>
                    </div>
                    <div class="product_adcart">
                      <a href="/products/<%= product._id %>" class="btn btn-danger text-white rounded" style="width:150px">Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>



    </div>
    </div>
  </section>


  <section class="download_wrap section_padding_b">
  <a href="/products/<%=i15%>">
    <div class="container">
      <div class="download_bg">
        <div class="row">
          <div class="col-lg-12">
            <div class="download_left">
              <img loading="lazy" src="../images/iphone15probanner.jpg" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </section>

  <%- include('partials/footer.ejs') %>



  <!-- all js -->

  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/jquery.nice-select.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>
