<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanh toán</title>
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

  <!-- all css -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jquery-ui.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/line-awesome.css">
  <link rel="stylesheet" href="../css/nice-select.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>


 <%- include('../partials/navibar.ejs') %>
  <!-- Spinner -->
  <div id="spinner">
    <div class="spinner-content">
      <div class="spinner-icon">&#9696;</div>
      <p>Loading...</p>
    </div>
  </div>
  <!-- breadcrumbs -->
  <div class="container">
    <div class="breadcrumbs">
      <a href="index-1.html"><i class="las la-home"></i></a>
      <a href="#">Giỏ hàng</a>
      <a href="#" class="active">Thanh toán</a>
    </div>
  </div>

  <!-- payment methods -->
  <div class="cart_area section_padding_b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4">




          <div class="profile_info_wrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="single_prof_info shadow_sm">
                  <div class="prof_info_title">
                    <h4>Địa chỉ giao hàng</h4>
                    <a href="/account/manage-address"> <a href="/account/manage-address">Sửa</a>
                    </a>
                  </div>
                  <div class="prfo_info_cont">
                    <p class="text-semibold"><%= (currentUser && currentUser.fullName) || null %></p>
                    <p><%= (currentUser && currentUser.shippingAddress && currentUser.shippingAddress.address) || null %></p>
                    <p>
                      <%= (currentUser && currentUser.shippingAddress && currentUser.shippingAddress.district) || null %>,
                      <%= (currentUser && currentUser.shippingAddress && currentUser.shippingAddress.city) || null %>,
                      <%= (currentUser && currentUser.shippingAddress && currentUser.shippingAddress.country) || null %>
                    </p>
                    <p><%= (currentUser && currentUser.shippingAddress && currentUser.shippingAddress.phoneNumber) || null %></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="single_prof_info shadow_sm mb-0">
                  <div class="prof_info_title">
                    <h4>Địa chỉ thanh toán</h4>
                    <a href="/account/manage-address">Sửa</a>
                  </div>
                  <div class="prfo_info_cont">
                    <p class="text-semibold"><%= (currentUser && currentUser.fullName) || '' %></p>
                    <p><%= (currentUser && currentUser.billingAddress && currentUser.billingAddress.address) || null %></p>
                    <p>
                      <%= (currentUser && currentUser.billingAddress && currentUser.billingAddress.district) || '' %>,
                      <%= (currentUser && currentUser.billingAddress && currentUser.billingAddress.city) || '' %>,
                      <%= (currentUser && currentUser.billingAddress && currentUser.billingAddress.country) || '' %>
                    </p>
                    <p><%= (currentUser && currentUser.billingAddress && currentUser.billingAddress.phoneNumber) || '' %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <h4 class="shop_cart_title ps-4 mt-4">Chọn hình thức thanh toán</h4>

          <div class="payment_method_options">
            <div class="single_payment_method active" data-target=".credit_card">
              <div class="sp_img">
                <img loading="lazy" src="../images/credit-card.png" alt="credit card">
              </div>
              <p class="sp_text">Thẻ tín dụng</p>
            </div>

            <div class="single_payment_method" data-target=".cash_on">
              <div class="sp_img">
                <img loading="lazy" src="../images/cash-on.png" alt="cash on delivery">
              </div>
              <p class="sp_text">Thanh toán COD</p>
            </div>
          </div>


          <div class="row">
            <div class="col-xl-10">
              <% if (currentUser.creditCard === null) { %>
              <form action="/account/create-payment-method/payment" method="post">
              <div class="payment_methods credit_card active">
                <div class="payment_method_title">
                  <h4>Phương thức thanh toán chưa khả dụng</h4>
                  <div class="payment_method_img">
                    <div class="d-flex crSửa_crd">
                      <img loading="lazy" src="../images/payment-visa.png" alt="Visa card">
                      <img loading="lazy" src="../images/payment-master.png" alt="Master card">
                    </div>
                  </div>
                </div>
                <div class="row">
                         <div class="text-center mt-4 cash_on_text">
                    <p>Bạn chưa có hình thức thanh toán qua thẻ, để thanh toán, bạn cần cập nhật trong mục tài khỏa.</p>

                    <a href="/account/create-payment-method?uai=t" class="btn btn-warning round" onlick="showSpinner()">Cập nhật ngay</a>
                  </div>
                </div>

              </div>
              </form>
              <%} else {%>
              <div class="payment_methods credit_card active">
                <div class="col-lg-12">
                  <div class="payment_meth_wrp">

                    <div class="single_paymethod d-flex flex-wrap shadow_sm padding_default mt-3">
                   
                      <div class="paymeth_img mb-3 mb-md-0">
                        <img loading="lazy" src="../images/visa.png" alt="visa">
                      </div>
                      <div class="single_orderdet w-130px ms-3 me-3">
                        <h5>Hình thức</h5>
                        <p>Thẻ Visa</p>
                      </div>
                      <div class="single_orderdet ms-sm-auto ms-0 me-3">
                        <h5>4 số cuối </h5>
                        <p><%=currentUser.creditCard.cardNumber%></p>
                      </div>
                      <div class="single_orderdet ms-auto me-3">
                        <h5>Hết hạn</h5>
                        <p><%=currentUser.creditCard.expirationMonth%>/<%=currentUser.creditCard.expirationYear.toString().slice(-2)%></p>
                      </div>


                    </div>
                  </div>
                  <div class="col-12 mt-4">
                  <form action="/cart/checkout/cc" method="post">
                    <button  class="default_btn rounded" onlick="showSpinner()">Thanh toán ngay</button>
                  </form>
                  </div>
                </div>

              </div>
              <%}%>



              <div class="payment_methods cash_on">
                <div class="payment_method_title">
                  <h4>Thanh toán khi nhận hàng</h4>
                  <div class="payment_method_img">
                    <div class="d-flex">
                      <img loading="lazy" src="../images/cash-on.png" alt="cash on delivery">
                    </div>
                  </div>
                </div>
                 <form action="/cart/checkout/cod" method="post">
                  <div class="text-center mt-4 cash_on_text">
                    <p>Bạn có thể thanh toán ngay sau khi nhận được hàng.</p>

                    <button  type="submit" class="default_btn rounded" onlick="showSpinner()">Xác nhận đơn hàng</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h4 class="shop_cart_title ps-4">Đơn hàng của bạn</h4>
          <div class="checkout_order">
            <h4>Thông tin đơn hàng</h4>
            <% products.forEach(cart => { %>
              <%
             const specIDStr = cart.specID?.toString() || '';
                    const specVariations = cart.product.colorVariants?.flatMap(variant => variant.specVariations) || [];
                    const selectedVariant = specVariations.find(spec => spec.specID?.toString() === specIDStr) || {};
                    const selectedColorVariant = cart.product.colorVariants?.find(variant => variant.specVariations.some(spec => spec.specID?.toString() === specIDStr)) || {};
             %>
              <div class="single_check_order">
                <div class="checkorder_cont">
                  <h5><%= cart.product.name ?? 'Không xác định' %> - <%= selectedColorVariant.color ?? "Không xác định" %></h5>
                  <p><%= selectedVariant.ram ?? 0 %>GB - <%= selectedVariant.storage ?? 0 %>GB</p>
                </div>
                <p class="checkorder_qnty">x<%= cart.quantity %></p>
                <p class="checkorder_price"><%= (cart.totalProductsPrice ?? 0).toLocaleString('vi-VN') %> đ</p>
              </div>
              <%})%>




              <div class="single_check_order subs">
                <div class="checkorder_cont subtotal-h">
                  <h5>Tạm tính</h5>
                </div>
                <p class="checkorder_price"><%= (currentUser.totalPriceInCrat ?? 0).toLocaleString('vi-VN') %> đ</p>
              </div>
              <div class="single_check_order subs">
                <div class="checkorder_cont subtotal-h">
                  <h5>Phí vận chuyển</h5>
                </div>
                <p class="checkorder_price">Free</p>
              </div>
              <div class="single_check_order total">
                <div class="checkorder_cont">
                  <h5>Tổng</h5>
                </div>
                <p class="checkorder_price"><%= (currentUser.totalPriceInCrat ?? 0).toLocaleString('vi-VN') %> đ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include('../partials/footer.ejs') %>

    <!-- all js -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.nice-select.min.js"></script>
    <script src="../js/app.js"></script>
    <script>
       function showSpinner() {
        $('#spinner').show();
      }

      function hideSpinner() {
        $('#spinner').hide();
      }</script>
</body>

</html>