<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cửa hàng</title>
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">


  <!-- all css -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jquery-ui.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/line-awesome.css">
  <link rel="stylesheet" href="../css/nice-select.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/responsive.css">
</head>

<body>


  <%- include('../partials/navibar.ejs') %>

    <!-- breadcrumbs -->
    <div class="container">
      <div class="breadcrumbs">
        <a href="index-1.html"><i class="las la-home"></i></a>
        <a href="#" class="active">Cửa hàng</a>
      </div>
    </div>

    <!-- shop grid view -->
    <div class="shop_wrap section_padding_b">
      <div class="container">
        <div class="row">
          <form id="formFilter" class="col-xl-3 col-lg-4 position-relative" method="get">
            <div class="filter_box py-3 px-3 shadow_sm">
              <div class="close_filter d-block d-lg-none"><i class="las la-times"></i></div>


              <div class="shop_filter">
                <h4 class="filter_title">Màu</h4>
                <div class="filter_list" style="max-height: 200px; overflow-y: auto;">
                  <% Listcolors.forEach(function(color) { %>
                    <div class="custom_check d-flex align-items-center">
                      <input type="checkbox" name="c" value="<%= color._id%>" <% if (selectedColor.includes(color._id))
                        { %> checked <% } %> class="check_inp" hidden id="<%= color._id%>">
                          <label for="<%= color._id%>">
                            <%= color._id%>
                          </label>
                    </div>
                    <% }) %>
                </div>
              </div>



              <div class="shop_filter">
                <h4 class="filter_title">Thương hiệu</h4>
                <div class="filter_list" style="max-height: 200px; overflow-y: auto;">
                  <% Listbrands.forEach(function(brand) { %>
                    <div class="custom_check d-flex align-items-center">
                      <input type="checkbox" name="b" value="<%= brand.brand %>" class="check_inp" <% if
                        (selectedBrand.includes(brand.brand)) { %> checked <% } %> hidden id="<%= brand.brand %>">
                          <label for="<%= brand.brand %>">
                            <%= brand.brand %>
                          </label>
                    </div>
                    <% }) %>
                </div>
              </div>





              <div class="shop_filter border-0">
                <h4 class="filter_title">Giá</h4>
                <div class="price-range">
                  <div class="range-value">
                    <label for="min-price">Từ:</label>
                    <input type="number" class="form-control" name="min" value="<%=min%>" id="min-price" min="1"
                      step="1">
                    <label for="max-price">Tới:</label>
                    <input type="number" class="form-control" name="max" value="<%=max%>" id="max-price" min="1"
                      step="1">
                  </div>
                </div>
              </div>


              <div class="text-center">
                <button class="btn btn-dark">Chọn bộ lọc</button>
                <a class="btn btn-outline-secondary" href="/products">Khôi phục</a>
              </div>
            </div>
          </form>
          <div class="col-xl-9 col-lg-8">
            <div class="d-flex align-items-center flex-wrap">
              <div class="d-block d-lg-none mb-3 mb-lg-0">
                <button class="default_btn py-2 me-3 rounded" id="mobile_filter_btn">Sắp xếp</button>
              </div>
              <div class="sorting_filter d-none d-sm-block mb-3 mb-sm-0">
                <div class="form-floating">
                  <select class="form-select" id="sortPrice" name="sortPrice"
                    aria-label="Floating label select example">
                    <option value="">Mặc định</option>
                    <option value="asc" <% if (sortPrice==="asc" ) { %>selected<% } %>>Giá tăng dần</option>
                    <option value="desc" <% if (sortPrice==="desc" ) { %>selected<% } %>>Giá giảm dần</option>
                    <option value="hot" <% if (sortPrice==="hot" ) { %>selected<% } %>>Nổi bật</option>
                    <option value="buy" <% if (sortPrice==="buy" ) { %>selected<% } %>>Mua nhiều</option>
                  </select>
                  <label for="floatingSelect">Sắp xếp</label>
                </div>
              </div>

              <form id="searchForm" class="d-flex flex-grow-1 justify-content-center">
                <div class="input-group">
                  <input type="search" id="searchBox" class="form-control rounded" <% if (searchQuery) { %>
                  value="<%= searchQuery %>"
                    <% } else { %>
                      placeholder="Từ khóa sản phẩm"
                      <% } %>
                        aria-label="Search" oninput="validateInput(event)" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary" id="btnSearch" data-mdb-ripple-init>Tìm
                          sản
                          phẩm</button>
                </div>
              </form>

            </div>
            <div style="position: relative;">
              <div id="suggestions"
                style="display: none; position: absolute; top: 100%; left: 0; z-index: 999; width: 100%; background-color: #fff; border: 1px solid #ced4da; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); padding: 10px; transition: opacity 0.3s ease-in-out;">
                <!-- Suggestions content goes here -->
              </div>
            </div>


            <div class="shop_products">
              <div class="row gy-4">
                <% products.forEach(function(product) { %>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 <% if (product.outOfStock === " Hết hàng"){ %>opacity-50
                    <% } %>">
                      <div class="single_new_arrive">
                        <div class="sna_img">
                          <% let imgSrc, fallbackImgSrc='../images/default.jpg' ; %>
                            <% if (product.image) { %>
                              <% imgSrc=`../data/product-images/${product.image}`; %>
                                <img loading="lazy" class="prd_img" src="<%= imgSrc %>" alt="product">
                                <% } else { %>
                                  <img loading="lazy" class="prd_img" src="<%= fallbackImgSrc %>" alt="product">
                                  <% } %>

                                    <% if (product.isHot) { %>
                                      <span class="tag">Hot</span>
                                      <% } %>
                                        <% if (product.outOfStock !=="Hết hàng" ) { %>
                                          <div class="prodcut_hovcont">
                                            <a href="/products/<%= product._id %>" class="icon open_quickview"
                                              tabindex="0">
                                              <i class="icon-search-left"></i>
                                            </a>
                                          </div>
                                          <% } %>
                        </div>
                        <div class="sna_content">
                          <% if (product.outOfStock==="Hết hàng" ) { %>
                            <a href="#">
                              <h4>
                                <%= product.name %>
                                  <%= product.minPriceWithRam %>GB/<%= product.minPriceWithStorage %>GB
                              </h4>
                            </a>
                            <% } else { %>
                              <a href="/products/<%= product._id %>">
                                <h4>
                                  <%= product.name %>
                                    <%= product.minPriceWithRam %>GB/<%= product.minPriceWithStorage %>GB
                                </h4>
                              </a>
                              <% } %>

                                <div class="ratprice">
                                  <% if (product.outOfStock !=="Hết hàng" ) { %>
                                    <% if (product.isSpecs) { %>
                                      <p class="mb-1" style="color: #666;font-size: 14px">Nhiều lựa chọn cấu hình</p>
                                      <%}%>
                                        <div class="price">
                                          <strong style="color: #d0021c; font-size: 18px;">
                                            <% const formattedPrice=new Intl.NumberFormat('vi-VN', { style: 'currency' ,
                                              currency: 'VND' }).format(product.minPrice); %>
                                              <%= formattedPrice %>
                                          </strong>
                                          <% if (product.discount) { %>
                                            <span
                                              style="color: #eb5757; background: #fff0e9; border-radius: 4px; padding: 1px 2px 2px 2px; margin-left: 7px; font-size: 14px;">
                                              - <%= product.discount %>%</span>
                                            <% } %>
                                              <% } else if (product.outOfStock==="Hết hàng" ) { %>
                                                <p class="mb-1" style="color: #666;font-size: 14px">Sản phẩm này đã hết
                                                  hàng</p>
                                                <% } %>
                                        </div>
                                </div>
                                <% if (product.outOfStock !=="Hết hàng" ) { %>
                                  <div class="product_adcart">
                                    <a href="/products/<%= product._id %>" class="btn btn-danger text-white rounded"
                                      style="width:150px">Chi tiết</a>
                                  </div>
                                  <% } %>
                        </div>
                      </div>
                  </div>
                  <% }); %>

                    <div class="pagination_wrp d-flex align-items-center justify-content-center mt-4 mb-4">
                      <% if (page> 1) { %>
                        <a href="/products?page=1&<%= queryParams %>" class="single_paginat"><i
                            class="las la-angle-double-left"></i></a>
                        <a href="/products?page=<%= page - 1 %>&<%= queryParams %>" class="single_paginat"><i
                            class="las la-angle-left"></i></a>
                        <% } %>

                          <% const maxPagesToShow=5; %>
                            <% const startPage=Math.max(1, page - Math.floor(maxPagesToShow / 2)); %>
                              <% const endPage=Math.min(totalPages, startPage + maxPagesToShow - 1); %>
                                <% for (let i=startPage; i <=endPage; i++) { %>
                                  <a href="/products?page=<%= i %>&<%= queryParams %>"
                                    class="single_paginat <% if (page == i) { %>active<% } %>">
                                    <%= i %>
                                  </a>
                                  <% } %>

                                    <% if (page < totalPages) { %>
                                      <a href="/products?page=<%= page + 1 %>&<%= queryParams %>"
                                        class="single_paginat"><i class="las la-angle-right"></i></a>
                                      <a href="/products?page=<%= totalPages %>&<%= queryParams %>"
                                        class="single_paginat"><i class="las la-angle-double-right"></i></a>
                                      <% } %>
                    </div>
              </div>
            </div>


          </div>
        </div>
      </div>



      <%- include('../partials/footer.ejs') %>


        <!-- all js -->

        <script src="../../js/jquery-3.5.1.min.js"></script>
        <script src="../../js/jquery-ui.min.js"></script>
        <script src="../../js/slick.min.js"></script>
        <script src="../../js/jquery.nice-select.min.js"></script>
        <script src="../../js/app.js"></script>
        <script src="../../js/cart.js"></script>
        <script>
          function debounce(func, wait) {
            let timeout;
            return function (...args) {
              const context = this;
              clearTimeout(timeout);
              timeout = setTimeout(() => func.apply(context, args), wait);
            };
          }


          const searchBox = document.getElementById('searchBox');
          const suggestionsBox = document.getElementById('suggestions');
          const form = document.getElementById('searchForm');
          const formFilter = document.getElementById('formFilter');
          const btnSearch = document.getElementById('btnSearch');


          function validateInput(event) {
            event.target.value = event.target.value.replace(/[^a-zA-Z0-9 ]/g, '');
          }



          searchBox.addEventListener('input', debounce(function () {
            const query = searchBox.value;
            if (query.length > 0) {
              fetch(`/products?search=${query}&ajax=true`)
                .then(response => response.json())
                .then(products => {

                  suggestionsBox.innerHTML = '';

                  if (products.length > 0) {
                    products.forEach(product => {
                      const a = document.createElement('a');
                      a.classList.add('aSearch');
                      a.textContent = product.name;
                      a.setAttribute('href', '/products/' + product._id);
                      suggestionsBox.appendChild(a);
                    });
                    suggestionsBox.style.display = 'block';
                  } else {
                    suggestionsBox.style.display = 'none';
                  }
                })
                .catch(error => {
                  console.error('Error fetching products:', error);
                });
            } else {
              suggestionsBox.style.display = 'none';
            }
          }, 300));



          searchBox.addEventListener('blur', function () {
            setTimeout(() => {
              suggestionsBox.style.display = 'none';
            }, 200);
          })


          form.addEventListener('submit', function (event) {
            event.preventDefault();
            searchParams();
          });


          formFilter.addEventListener('submit', function (event) {
            event.preventDefault();
            searchParams();
          });

          btnSearch.addEventListener('click', function (event) {
            event.preventDefault();
            searchParams();
          });


          document.getElementById('sortPrice').addEventListener('change', function () {
            event.preventDefault();
            searchParams();
          });


          function searchParams() {
            //gia min va max
            const min = document.getElementById('min-price').value;
            const max = document.getElementById('max-price').value;
            //thuong hieu
            const brandInputs = document.querySelectorAll('input[name="b"]:checked');
            const selectedBrands = Array.from(brandInputs).map(input => input.value);
            //mau
            const colorInputs = document.querySelectorAll('input[name="c"]:checked');
            const selectedColors = Array.from(colorInputs).map(input => input.value);

            const sortPrice = document.getElementById('sortPrice').value;

            const searchParams = new URLSearchParams();
            const searchInput = searchBox.value;
            if (sortPrice) {
              searchParams.append('sortPrice', sortPrice);
            }
            if (selectedBrands) {
              selectedBrands.forEach(brand => searchParams.append('brands', brand));
            }
            if (selectedColors) {
              selectedColors.forEach(color => searchParams.append('colors', color));
            }
            if ((min && max) && (min >= 1 && max >= 1) && ((min <= max))) {
              searchParams.append('min', min);
              searchParams.append('max', max);
            }




            if (searchInput) {
              searchParams.append('search', searchInput);
            }
            console.log(searchParams.toString());
            // Redirect to /products with combined search and sortPrice params
            window.location.href = '/products?' + searchParams.toString();
          }
        </script>
</body>

</html>